<hr />
<div class="row">
    <div class="col-md-12">
        <a href="{{ path('operatori_elabora_pratica', {'pratica': pratica}) }}"
           class="btn btn-primary btn-block btn-lg">
            {{ 'operatori.elabora'|trans }}
        </a>
    </div>
</div>
