<footer id="footer" class="clearfix">
    <div class="container-fluid footer-container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Contatti</h3>
            </div>
            <div class="col-md-6 col-sm-6">
                <p>Via Roma 4/A fraz. Ragoli 38095 Tre Ville (TN)<br />
                    Tel. +39 0465 321133<br />
                    Fax +39 0465 324457<br />
                    C.F./P.IVA: 01533550222</p>
            </div>

            <div class="col-md-6 col-sm-6">
                <p>Indirizzo email <a href="mailto:info@comunetreville.tn.it"> info@comunetreville.tn.it</a><br />
                Posta Elettronica Certificata <a href="mailto:comune@pec.comunetreville.tn.it"> comune@pec.comunetreville.tn.it</a></p>
            </div>

            {#<div class="col-md-3 col-sm-6">
                <h3>Trasparenza</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Amministrazione Trasparente</a></li>
                    <li><a href="#">Bandi di Gara</a></li>
                    <li><a href="#">Contratti pubblici</a></li>
                    <li><a href="#">Telefono e posta elettronica</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6">
                <h3>Siti tematici</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                </ul>
            </div>

            <div class="col-md-6 col-sm-6">
                <h3>Seguici su</h3>
                <p class="nav_social clearfix">
                    <a href="#" title="Seguici su Twitter">
                        <span class="fa-stack fa-lg">
                          <span class="fa fa-circle fa-stack-2x"></span>
                          <span class="fa fa-twitter fa-stack-1x fa-inverse"></span>
                        </span><span class="sr-only">Twitter</span>
                    </a>
                    <a href="#" title="Seguici su Facebook">
                        <span class="fa-stack fa-lg">
                          <span class="fa fa-circle fa-stack-2x"></span>
                          <span class="fa fa-facebook fa-stack-1x fa-inverse"></span>
                        </span><span class="sr-only">Facebook</span>
                    </a>
                    <a href="#" title="Seguici su Youtube">
                        <span class="fa-stack fa-lg">
                          <span class="fa fa-circle fa-stack-2x"></span>
                          <span class="fa fa-youtube-play fa-stack-1x fa-inverse"></span>
                        </span><span class="sr-only">Youtube</span>
                    </a>
                </p>
            </div>#}
        </div>
    </div>
</footer>
<!-- EOF #footer -->
