<section id="pre-footer" class="clearfix container-fluid">
    <div class="row">
        <div class="col-xs-2 col-sm-1">
            <div id="logo-footer">
                <a href="#" title="Home" rel="home">
                    <!-- Modifica logo in BN -->
                    <img class="img-responsive" src="{{ asset('bundles/app/images/logo-stanza-bw.png') }}" alt="Home" alt="Home" title="Home" />
                </a>
            </div>
        </div>
        <div class="col-xs-10 col-sm-11">
            <div id="site-name-footer">
                <h2 style="margin-bottom: 0">
                    <a href="#" title="Home">Stanza del cittadino</a>
                </h2>
                <p class="white-color">{{ 'claim'|trans }}</p>
            </div>
        </div>
    </div>
</section>
