<section id="survey" class="clearfix container-fluid" style="min-height: auto">
<!--
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="#">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> <strong>Valuta questo sito</strong>
            </a>
        </div>
    </div>
-->
</section>
